body {
    background-color: black;
}
.first-text {
    text-align: center;
    position: relative;
    bottom: 400px;
}
h2 {
    text-align: center;
}
.hr {
    height: 3px;
        background-color: rgb(255, 255, 255);
        border: none;
}
.gallery {
    display: block;
    margin: 0 auto;
}
h1 {
    font-family: 'Passions Conflict', cursive;
    color: white;
}